/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Smooth text */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

/* Base body styles */
body {
  font-family: system-ui, sans-serif;
  background-image: url('assets/images/bg-today-large.svg');
  color: #0f172a;
  line-height: 1.5;
  background-size: cover;      /* fills the screen */
  background-position: center; /* centers the image */
  background-repeat: no-repeat;
  min-height: 100vh;
}